body {
  background-color: #666666;
  display: flex;
  font-family: sans-serif;
  color: #eeeeff;
}

main {
  margin: auto;
}

#canvas-container, header {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.waiting {
  outline: medium red;
}

canvas {
  margin: auto;
}

#other-canvas {
  aspect-ratio: 1/1;
  
}
