body {
  width: 96vw;
  display: flex;
  justify-content: center;
}
section {
  width: 100vw;
  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-column-gap: 1em;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2.5em;
}
nav {
  position: absolute;
  color: #000;
  top: 0;
  left: 0;
  right: 0;
  height: 1.4ch;
  padding: 0.5em;
  padding-bottom: 1em;
  background: radial-gradient(circle at 97% 66%, #e30 0%, #c30 5px, transparent 5.2px),
    radial-gradient(circle at 98% 66%, #85d 0%, #86d 5px, transparent 5.2px),
    radial-gradient(circle at 97.5% 36%, #3b5 0%, #285 5px, transparent 5.2px),
    radial-gradient(circle at 95.5% 66%, #25b 0%, #358 4.8px, transparent 5px),
    linear-gradient(to right, #ee0, #ee0 35%, #888 50%, #eee 65%, #eee 100%);
  font-family: 'Arial', sans-serif;
}
nav::before {
  content: 'JS';
  position: absolute;
  left: 33%;
  top: 50%;
  font-weight: bold;
}
details {
  grid-column-start: 1;
  grid-column-end: -1;
}
details details {
  margin-left: 2rem;
}
#checkboxes {
  display: flex;
  flex-direction: column;
}
